/*
* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}
*/

htmla, .fixedHeightHtmla, bodya, #containera {
	position:fixed !important;
	left:0px !important;
	top:0px !important;
	bottom:0px !important;
	margin:0px !important;
	margin-top:0px !important;
	padding:0px !important;
	overflow:hidden !important;
	overflow-y:hidden !important;
	width:100% !important;
	height:100% !important;
}
bodya {
	-webkit-touch-callout: none !important; 
	-webkit-text-size-adjust: none !important; 
	-webkit-user-select: none !important; 
	-webkit-highlight: none !important; 
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important; 
}
bodya > * {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
	-webkit-highlight: none !important; 
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

#containera {
	background: url(../images/quadbg001.jpg) no-repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div[data-role="page"] {
	padding-top: 46px !important;
}
div[data-role="pagea"], bodya, #containera {
	background-color: transparent !important;
	-webkit-transform: translate3d(0,0,0) !important;
	-webkit-transform: translateZ(0px) !important;
	-webkit-backface-visibility: hidden; 
}
div[data-role="headera"] {
	position: absolute;
	top:0px !important;
	left:0px !important;
	right:0px !important;
}
div[data-role="contenta"] {
	position: absolute;
	top: 46px !important;
	left:0px !important;
	right:0px !important;
}
div[data-role="content"], .ui-content, .scrollable {
	-webkit-overflow-scrolling: touch !important;
	overflow-y:hidden !important;
}
.footer {
	background-color:#e9e9e9 !important;
	text-align: center !important;
	height:100px !important;
}
.footerMoveda {
	background-color:red !important;
	/*
	left:0px !important;
	right:0px !important;
	bottom:0px !important;
	width: 100% !important;
	z-index:999 !important;
	position: fixed !important;
	*/
	height:100px !important;
	text-align: center !important;
}

div[data-role=footeraa], footeraa, .footeraa {
	background-color:blue !important;
	z-index:999 !important;
	position: fixed !important;
	left:0px !important;
	right:0px !important;
	bottom:0px !important;
	margin:0px !important;
	padding:0px !important;
	max-height:100px !important;
	height:100px !important;
	width: 100% !important;
	text-align: center !important;
	color: #dedcb9 !important;
	overflow:hidden !important;
	vertical-align:middle !important;
}

a {
	text-decoration: none !important;
}
label {
	font-weight:normal !important;
}

.overflow-visible {
	overflow:visible;
}
.ui-overlay-shadow {
	b/ackground: none;
}

#learningstreamListView > .ui-li-static, #learningstreamListView > .ui-li-divider, #learningstreamListView > li > a.ui-btn {
	border-left-width: none !important;
	border-right-width: none !important;
    border-style: none !important;
    border-width: 1px 0 0;
	background:#ffffff;
	background-color:#ffffff;
}
.learningstreamPostContentArea, .learningstreamPostContentArea:hover {
	background:#ffffff !important;
	background-color:#ffffff !important;
}
.learningstreamGapArea {
	padding-bottom:10px !important;
	background:none !important;
	background-color:transparent !important;
	border:none !important;
}

.learningstreamFunctionArea, .learningstreamCommentArea, .learningstreamFunctionArea > a, .learningstreamCommentArea > a {
	font-size:0.75em !important;
	font-weight:normal !important;
}
.learningstreamFunctionArea > a.active, .learningstreamCommentArea > a.active {
	font-weight:bold !important;
}
.learningstreamFunctionArea, .learningstreamCommentArea {
	padding-bottom:10px !important;
}

.likeLink, .messageLink, .forwardLink, .linkCdate {
	text-decoration:none !important;
	font-weight:normal !important;
}
.linkCdate {
	font-size:0.6em !important;
	color:#333 !important;
}
.likeLink:hover, .messageLink:hover, .forwardLink:hover {
	text-decoration:underline !important;
	font-weight:normal !important;
}
.likeLinkActive {
	font-weight:bold !important;
	text-decoration:none !important;
}
.likeLinkActive:hover {
	font-weight:bold !important;
	text-decoration:underline !important;
}

.likeCountLink, .likeCountTextLink {
	padding:4px !important;
	font-weight: normal !important;
}
.likeCountLink:hover {
	padding:4px !important;
	background-color:#eee !important;
	font-weight: normal !important;
}
.likeCountTextLink:hover {
	text-decoration:underline !important;
}

.likeCountLink > img, .likeCountTextLink > img {
	padding-right:5px !important;
}

.listviewTextUnderThumbnbailLeft {
	color:#999;
	position: absolute;
	left:10px;
	bottom: 10px;
	m/ax-height: 5em;
	m/ax-width: 5em;
	width:70px !important;
	text-align:center;
	font-size:0.6em !important;
}

#learningstreamListView li[role="heading"], #learningstreamListView li[role="content"] a, #learningstreamListView li[role="learningstreamFunctionArea"], #learningstreamListView li.learningstreamCommentArea, #learningstreamListView li.learningstreamSubheading {
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) !important; */
	border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow:    0px 2px 0px 0px rgba(0, 0, 0, 0.2) !important;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2) !important;
	box-shadow:         0px 2px 0px 0px rgba(0, 0, 0, 0.2) !important;
	b/ackground-color:lightgreen !important;
}

#learningstreamListView li[role="heading"], #learningstreamListView li.learningstreamSubheading {
	border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
#learningstreamListView li.learningstreamFunctionArea, #learningstreamListView li.learningstreamCommentArea {
	border-top: 1px solid #efefef !important;
}

.input_classic {
	margin:-8px -4px !important;
	padding:8px 4px !important;
	width:100% !important;
	border: 1px solid #ccc;
}

.commentForm {
	padding:8px !important;
}

.font_small {
	font-size:0.6em !important;
}

.fixBottom {
	position: fixed !important;
}

/*
#sendMessage > * {
	z-index:2 !important;
}
#sendMessage {
	z-index:1 !important;
	position: fixed !important;
	top: 30px !important;
	width:100% !important;
	background-color:lightred !important;
}

#sendMessage > form {
	background-color:darkred;
}

#sendMessage > textarea::-webkit-scrollbar {
	width: 0px !important;
	height: 10px !important;
}

textarea.myMsgBox {
	z-index:3;
	overflow-y:visible !important;
	resize: none !important;
	padding:8px 4px !important;
	margin:16px !important; 
	margin-left:0px !important; 
	margin-right:0px !important; 
	border:1px solid #dedede !important;
	background-color: rgb(249, 249, 249) !important;
	max-height:80px !important;
	height:80px !important;
	float:left;
	clear:none;
}
*/

.messageForm {
	padding:8px !important;
}

textarea.myMsgBox {
	z-index:3;
	overflow-y:visible !important;
	resize: none !important;
	p/adding:8px 4px !important;
	padding:4px !important; 
	m/argin-left:0px !important; 
	m/argin-right:0px !important; 
	border:1px solid #dedede !important;
	background-color: rgb(249, 249, 249) !important;
	max-height:72px !important;
	height:72px !important;
	f/loat:left;
	c/lear:none;
}

.bottomGap {
	float:none !important;
	clear:both !important;
	height:50px !important;
	/* background-color:yellow !important; */
	background-color:transparent !important;
}

a.sendLink {
	padding-left:8px !important;
}

/*
a.sendLink {
	width:60px !important;
	margin:0px !important;
	float:right;
	clear:none;
	margin:16px !important;
	margin-bottom:0px !important;
}
*/

.ui-controlgroup-controls {
	width:100% !important;
}

span[data-pastload-module="simpletext"] {
	width:100% !important;
}

.full_width {
	width:100% !important;
	height:auto !important;
	display:inline-block !important;
}


////////////////////////////////////////////////////////////////////////////////////////////
/*
// dark css overlay when panels are open
// http://stackoverflow.com/questions/24865615/issue-with-jquery-slide-pannel-display-format
// http://jsfiddle.net/HE96S/
// http://interactivevolcano.com/grayed-out-overlays-with-jquery-and-css
*/
////////////////////////////////////////////////////////////////////////////////////////////
.ui-panel-display-overlay {
	z-index: 100; 
}
#overlay  {
   width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background: url('../images/overlay.png') repeat 0 0;;
    display: none;   
}

////////////////////////////////////////////////////////////////////////////////////////////
//* FACEBOOK STYLED LOADER */
////////////////////////////////////////////////////////////////////////////////////////////
//* http://www.marcofolio.net/css/css3_quickie_the_facebook_loading_animation.html */
////////////////////////////////////////////////////////////////////////////////////////////

#pastloadloadingbar, #pastloadloadingbar > * {
	-webkit-transform: translateZ(0);
	position:fixed !important;
	top:46px !important;
	width:100%;
	height:80px !important;
	z-index:999 !important;
}

.loader { 
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:34px;
}
 
/* Initial state */
.bar {
    background-color:#99aaca; border:1px solid #96a6c9; float:left;
    margin-right:4px; margin-top:6px; width:6px; height:18px;
    /* Set the animation properties */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loadingbar;
}
 
/* Delay both the second and third bar at the start */
.loader .bar:nth-child(2) { animation-delay: 0.1s; }
.loader .bar:nth-child(3) { animation-delay: 0.2s; }
 
/* The actual animation */
@keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:22px; border-color:#d1d8e6; background-color:#bac5db; }
    20% { margin-top:0px; height:32px; border-color:#d1d7e2; background-color:#c6ccda; }
    30% { margin-top:1px; height:30px; border-color:#d1d8e6; background-color:#bac5db; }
    40% { margin-top:3px; height:26px; }
    50% { margin-top:5px; height:22px; }
    60% { margin-top:6px; height:18px; }
    70% { }
    /* Missing frames will cause the extra delay */
    100% { }
}

/*
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
*/

.hidden {
	display:none !important;
}

.disablescrolling {
	position:fixed !important;
	top:0px !important;
	left:0px !important;
	b/order:none !important;
	b/order:5px solid red;
	min-height:250px !important;
	min-width:250px !important;
	m/in-width:0px !important;
	m/in-height:0px !important;
	overflow:visible !important;
	p/adding:none !important;
	m/argin:none !important;
	/*
	position:fixed !important;
	width:100% !important;
	height:100% !important;
	top:0px !important;
	left:0px !important;
	bottom:0px !important;
	margin:0px !important;
	padding:0px !important;
	*/
}