<div data-role="header" data-theme="h" data-position="fixed"  data-tap-toggle="false">
    <a data-ajax="true" href="#panel_left" data-icon="grid" data-iconpos="notext">Menü</a>
    <h1><%= window.system.owner.companyname %></h1>
    <% if(checkRole("user")==true) { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Funktionen</a>
	<% } else { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Login</a>
	<% } %>
</div>

<div data-role="content" class="textcenter">

		<div style="height:5px;"></div>
		
		<img src="icon.png" style="m/ax-height:30%;max-width:40%;" class="no-elementResizeByScreenHeight" no-data-percentheight="25">
		
		<div style="float:none;clear:both;height:15px;"></div>
		<div style="font-size:10px;">
			<div style="font-size:16px;"><strong class="resizetext"><%= window.system.owner.slogan %></strong></div>
			<div style="font-size:12px;" class="resizetext"><%= window.system.app.options.calltoaction %></div>
		</div>

		<div style="float:none;clear:both;height:15px;"></div>
		
		<form style="text-align:left;">
			
			<!--
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
					<input data-corners="false" type="text" style="text-align:center;" value="" id="username" name="username" placeholder="E-Mail-Adresse / Benutzername"/>
				</div>
				<div class="ui-block-b">
					<input data-corners="false" type="password" style="text-align:center;" value="" id="password" name="password" placeholder="Passwort"/>
				</div>
			</div>
			-->

			<input data-corners="false" type="text" style="text-align:center;" value="" id="username" name="username" placeholder="E-Mail-Adresse / Benutzername"/>
			<div style="float:none;clear:both;"></div>			
			<input data-corners="false" type="password" style="text-align:center;" value="" id="password" name="password" placeholder="Passwort"/>
			<div style="float:none;clear:both;"></div>			
			
			<div style="float:none;clear:both;"></div>			
			<div id="giftcodeDiv" style="display:none;">
				<input type="text" style="text-align:center;font-family:Trebuchet MS;text-transform: uppercase;letter-spacing:1px;" value="" id="giftcodeInput" name="giftcodeInput" placeholder="Anbietercode eingeben"/>
			</div>
					
			<div style="float:none;clear:both;"></div>
			<a id="sendLoginBtn" class="sendLoginBtn" data-role="button"><span>Anmelden</span></a>
			
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
					<a id="sendRegisterBtn" class="sendRegisterBtn" data-theme="d" data-role="button"><span>Neu registrieren</span></a>
				</div>
				<div class="ui-block-b">
					<a id="sendFbLoginBtn" class="sendFbLoginBtn" data-theme="h" data-role="button"><span>Mit Facebook einloggen</span></a>
				</div>
			</div>
			
			
			
			
			
			<!-- <a href="/register.html" class="btn btn-link">sign up</a>
			<input id="sendLoginBtn" class="sendLoginBtn btn btn-primary" value="Los geht's" type="button">
			-->
		</form>
		
		<div style="height:20px;"></div>
		
		<span><a href="#privacy" class="resizetext">Datenschutz</a><span class="resizetext"> &middot; </span><a href="#support" class="resizetext">Support</a></span>
		<div style="height:10px;"></div>
		<span><a id="sendAnonymRegisterBtn" class="sendAnonymRegisterBtn resizetext" href="#" style="font-weight:normal;">Anonym in der Mediathek stöbern</a></span>
		
		<p style="padding-top:0px;font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;text-align:center;" class="no-resizetext">
			<% if (1==2) { %>
				Indem Sie auf "Neuen Zugang anlegen" klicken, akzeptieren Sie die <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;" class="no-resizetext">Allgemeinen Geschäftsbedingungen von APPinaut</a>. <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;"><!--Kontaktieren</a> Sie uns gerne.--><!-- und bestätigen, dass Sie die Datenschutzrichtlinien und die Bestimmungen zur Cookie-Verwendung gelesen haben. Eventuell erhalten Sie eine E-Mail vom APPinaut Team, die Sie jederzeit abbestellen können.-->
			<% } %>
			<br><br><br><br>
			<!--
			<a onClick="javascript:openExternalURL('http://www.google.de/');">open google external</a>
			<br><br><br><br>
			
			<a href="http://www.google.com/" onclick="window.open(this.href,'_system'); return false;">Google</a>
			<br><br><br><br>
			-->
			
		</p>
		

</div>